---
entryPoints:
  web:
    address: :80

  websecure:
    address: :443

providers:
  file:
    directory: /etc/traefik/config
    watch: true

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: ""
      storage: /traefik-config/acme.json
      httpChallenge:
        entryPoint: web
