[Unit]
Description=NZBGet service
After=network.target

[Service]
User=nzbget
Group=nzbget
Type=forking
WorkingDirectory=/opt/nzbget
ExecStart=/opt/nzbget/nzbget -D --configfile /nzbget-config/nzbget.conf
ExecStop=/opt/nzbget/nzbget -Q
ExecReload=/opt/nzbget/nzbget -O
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
